/**{
	margin: 0;
	padding: 0;
}*/

.cube {
	margin-top: 200px;
	z-index: 500000;
}

.cube ul{
	width: 100px;
	height: 100px;
	/*border: 1px solid #000;*/
	margin: 0 auto 0 auto;
	position: relative;
	transform-style: preserve-3d;
	transform: rotateX(-30deg) rotateY(-60deg) rotateZ(0deg);
	/*rotate the cube*/
	/*animation: willRote 7s ease-in-out infinite alternate;*/
}
@keyframes willRote {
	0% {
		transform: rotateX(-27deg) rotateY(-55deg);
	}
	50% {
		transform: rotateX(-27deg) rotateY(180deg);
	}
	100% {
		transform: rotateX(-27deg) rotateY(360deg);
	}
}
.cube ul li{
	list-style: none;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 40px;
	position: absolute;
}
.cube ul li:nth-child(1){
	background-color: rgba(0,0,255,0.7);
	color: #fff;
	transform: rotateX(90deg) translateZ(50PX);
}
/*TODO: transparent*/
/*TODO: color for six faces*/

.cube ul li:nth-child(2){
	background-color: #006007;
	color: #fff;
	transform: rotateX(180deg) translateZ(50PX) rotateZ(180deg);
}

.cube ul li:nth-child(3){
	background-color: #fff;
	color: #000;
	transform: rotateX(270deg) translateZ(50PX);
}
.cube ul li:nth-child(4){
	background-color: #634b02;
	color: #fff;
	transform: rotateX(360deg) translateZ(50PX);
}
.cube ul li:nth-child(5){
	background-color: #b20a0a;
	color: #fff;
	transform: rotateY(90deg) translateZ(50PX);
}
.cube ul li:nth-child(6){
	background-color: #2c394f;
	color: #fff;
	transform: rotateY(90deg) translateZ(-50PX) rotateY(180deg);
}

.btn-list {
	margin: 60px auto; 
	position: relative; 
	width: 100%;
	text-align: center;
}